*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*HEADER*/
.container{
    width: 100%;
    max-width: 122.5rem;
    
}

.naveg{
    font-family:'Raleway', sans-serif; 
    font-size: large;
}
.titulo {
    display: flex;
    justify-content: center;
    color: bisque;
    background-color: #b26c3e;
    font-size: 40px;
    font-weight: bolder
  
}
 p {
     text-align: center;
     font-family: 'Jost', sans-serif;
     font-size: 1.6rem;
     margin: 15px;
}

h2 {
    font-family:  'Raleway', sans-serif;
    margin: 15px;
   
}
h3 {
    font-family: 'Jost', sans-serif;
    margin: 15px;
}
h4 {
    font-family: 'Jost', sans-serif;
    margin: 15px;
}

.carousel-texto{
    font-family: 'Raleway', sans-serif;
    color: white;
    background-color: black;
    text-align: center;
    font-style: italic;
}
.productos{
    background-color:   black;
    padding: 70px;
}
.card-text{
    background-color: #f7789a;
}

.pedidos-ya{
    background-image: url(../multimedia/mejor.jpeg); 
    background-size: cover;
    background-repeat: no-repeat;
    padding: 250px;
}

.barraDesktop ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 1rem;
    padding: 0 20px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font: 10px;
}

.barraMobile{
    display: none;
}

@media screen and (max-width: 480px){
    .barraDesktop ul{
        display: none;
    }
    .barraMobile{
        display: flex;
        text-align: center;
        flex-direction: column;
        font-family: 'Hind', sans-serif; 
        background-color: white;
        padding: 1rem;
        padding: 0 20px;
        color: black; 
        text-decoration: none; 
        text-transform: uppercase; 
        font:bold 10px;
    }
    .barraMobile ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
@media screen and (max-width: 768px){
    .barraDesktop ul{
        display: none;
    }
    .barraMobile{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: 'Hind', sans-serif;
        background-color: white;
        padding: 1rem;
        padding: 0 20px;
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        font: bold 10px;
    }
    .barraMobile ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
    

.naveg:hover{
    color: #b26c3e;
}
a:hover{
    color:#f7789a
}

ul li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
    font-size: x-large;
}


.section{
    background-color: #fba8a4;
    background-image: linear-gradient(315deg, #fba8a4 0%, #dad2f3 74%);
    padding: 30px;
   
}
.section-1{
    text-align: center;
    font-family: 'Raleway', sans-serif;
}


div .galeria img{
    padding: 30px;
}


/*FOOTER*/
.pie {
    font-family: 'Jost', sans-serif;
    background-color:#fab8ca ;
    padding: 50px;
}

.pie .grupo-1{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
}
.pie .grupo-1 .box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h3 .redes .a{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: white;
}
@media screen and (max-width:768px){
    .pie .grupo-1{
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}
    @media screen and (max-width:480px){
        .pie .grupo-1{
            width: 100%;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(1,1fr);
            grid-gap: 30px;
            padding: 35px 0px;
        }
}

/*NOSOTROS*/
.nosotros{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat (2,1fr);
    background-color: #fba8a4;
    background-image: linear-gradient(315deg, #fba8a4 0%, #dad2f3 74%);
}

/* MENU */
.container-3{
    padding: 5px;
    display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 0.5fr 0.5fr; 
  gap: 9px 9px; 
  grid-template-areas: 
    "gustos-1 gustos-2 gustos-3 gustos-4"
    "choco dulce crema fruta";
}
#img-fondo{
    background-image: url(../multimedia/ice.jpg);
    background-size: cover;
}

.mb-5{
    background: rgba(5, 7, 12, 0.40);
    padding: 40px;
}
.postres{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.postres figure{
    position: relative;
    height: 250px;
    width: 350px;
}
.postres figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}
.postres figure .descripcion{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    color: white;
    font-style: bold;
}
.postres figure:hover> .descripcion{
    opacity: 1;
}
.rounded{
    clip-path: circle();
}
/* SUCURSAL */

